
@{
    ViewBag.Title = "About";
}
<br />
<h2>About AJAR</h2>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/annie.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Annie Pericle</h5>
            <p class="card-text">Annie "The Boss" Pericle is a project manager extraordinaire. Demonstrating excellent leadership and planning skills, Annie will make sure your project team meets every deadline.</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Images/jared.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Jared Gibson</h5>
            <p class="card-text">When you need a website, Jared "The Man" Gibson is the one to call. An expert with HTML, CSS, ASP.Net, C#, and so much more, Jared will make your wildest website dreams come true, and look great doing it. </p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Images/angelica.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Angelica Hastings</h5>
            <p class="card-text">Angelica "La Casada" Hastings is the Jack of all trades here at AJAR. Whether you need a Project Manager, a Database Administrator, or a good teammate for the Google ghost game, Angelica is ready for the challenge.</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/Images/ryan.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ryan Skalla</h5>
            <p class="card-text">Ryan's OK, I guess. He'll format your papers and stuff.</p>
        </div>
    </div>
</div>